/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    width: 100rem;
    height: 100rem;
    margin: auto;

}